:root {
    --bg-color: #ffffff;
    --text-color: #111827;
    --muted-color: #6B7280;
    --border-color: #E5E7EB;
}

.dark {
    --bg-color: #1C1C1C;
    --text-color: #ffffff;
    --muted-color: #6B7280;
    --border-color: #374151;
}

/* Ensure the body and html elements take up the full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column;
}

/* Main body styling */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

/* Main container styling */
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Ensures the main content takes up available space */
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1rem 0;
}

header .logo {
    flex-grow: 1;
    padding-left: 0;
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    font-family: 'Inter', "inter-Fallback", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: black;
}

.dark header h1 {
    color: white;
}

header h1 a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

header h1:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

/* Updated nav bar styles */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.nav-links ul li {
    margin: 0;
}

.nav-links ul li a,
.nav-links ul li button {
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-color);
    padding: 0;
    font-family: "ui-monospace", monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.nav-links ul li a:hover,
.nav-links ul li button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

/* Sticky footer styling */
.footer-grounding {
    margin-top: auto; /* Pushes footer to bottom of page */
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.875rem;
    color: var(--muted-color);
    background-color: var(--bg-color);
    width: 100%;
    box-sizing: border-box;
}

/* Footer link styles */
footer .source-link {
    color: var(--muted-color);
    text-decoration: none;
}

footer .source-link:hover {
    text-decoration: underline;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--muted-color);
    padding: 0.5rem 0;
}

td {
    padding: 0.5rem 0;
    border-top: 1px solid var(--border-color);
}

.date, .views {
    font-family: "ui-monospace", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}

.title {
    cursor: pointer;
    font-family: "ui-monospace", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.title:hover {
    text-decoration: none;
}

.views {
    text-align: right;
}

/* Dark Mode Styles */
.dark .title,
.dark .date,
.dark .views {
    color: white;
}

.dark .date,
.dark .views {
    color: var(--muted-color);
}

/* Remove default link styles */
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}

/* General Flap Styles */
.flap-container {
    margin: 20px 0;
}

.flap {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flap-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.flap-content {
    display: none;
    padding-left: 10px;
    font-size: 16px;
    line-height: 1.6;
}

.flap-header:hover {
    color: #0077cc;
}

.flap.open .flap-content {
    display: block;
}

.flap-header::after {
    content: " ▼";
}

.flap.open .flap-header::after {
    content: " ▲";
}

.flap-content a {
    color: #0077cc;
    text-decoration: none;
}

.flap-content a:hover {
    text-decoration: underline;
}
